{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}


{% block content %}

<div class="bg-gradient-to-t from-blue-400 to-indigo-500 p-10 md:p-20 relative">
    <!-- header component -->
    <div class="grid grid-cols-2 md:gap-9 pb-6">
        
        <div class="col-span-2 md:col-span-1 flex justify-center">
            <p class="
                        text-gray-200 text-2xl subpixel-antialiased font-light
                    ">
                Polls Django App
            </p>
        </div>
        <div class="col-span-2 md:col-span-1 flex justify-center">
            <a href="#about" class="
                    text-gray-200 text-xl subpixel-antialiased font-light
                ">
                About 
        </a>
            <a href="#contact" class="
                    text-gray-200 text-xl subpixel-antialiased font-light ml-5
                ">
                Contact
            </a>
        </div>
    </div>
    
    <!-- brand component -->
    <div class="grid grid-cols-4 gap-9 mt-9">
        <div class="col-span-4 md:col-span-2 flex md:ml-48 justify-center">
            <img class="object-scale-down w-40 md:w-60"
            src="{%static 'img/brand.png'%}" alt="brand-image">
        </div>
        {% if user.is_authenticated %}
        <div class="col-span-4 md:col-span-1 ">
            <div>
                <div id="click" class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-8">
                <a href="#" class="text-gray-900 uppercase cursor-pointer">New Poll</a>
                </div>
            </div>
            <div>
                <div class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-4">
                <a href="#" class="text-gray-900 uppercase">Browse polls</a>
                </div>
                <div>
                    <p class="text-xs md:mt-5 font-thin text-gray-200">
                        <svg class="w-5 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                        Very Simple Polling App - Built with #Django
                    </p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-span-4 md:col-span-1 ">
            <div>
                <div id="click" class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-8">
                <a href="{% url 'login' %}" class="text-gray-900 uppercase cursor-pointer">sign in</a>
                </div>
            </div>
            <div>
                <div class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-4">
                <a href="{% url 'signup' %}" class="text-gray-900 uppercase">sign up</a>
                </div>
                <div>
                    <p class="text-xs md:mt-5 font-thin text-gray-200">
                        <svg class="w-5 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                        Very Simple Polling App - Built with #Django
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

    <!-- About component -->
    <div class="grid grid-cols-3 mt-10 mb-3">
        <div class="col-span-1 pt-3 md:pt-5"><hr></div>
        <div class="col-span-1 flex justify-center text-xl md:text-4xl font-thin text-gray-800" id="about">ABOUT</div>
        <div class="col-span-1 pt-3 md:pt-5"><hr></div>
    </div>
    <div class="grid grid-cols-1">
        <div class="col-span-1 flex justify-center px-10 md:px-60">
            <p class="text-gray-700 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                 a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                 remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                 Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions 
                 of Lorem Ipsum.</p>
        </div>
    </div>

    <!-- Contact component -->
    <div class="grid grid-cols-3 mt-10 mb-3">
        <div class="md:col-span-1 pt-3 md:pt-5"><hr></div>
        <div class="col-span-1 flex justify-center text-xl md:text-4xl font-thin text-gray-800" id="contact">CONTACT</div>
        <div class="col-span-1 pt-3 md:pt-5"><hr></div>
    </div>
    <div class="grid grid-cols-1">
        <div class="col-span-1 flex justify-center mt-3 px-10 md:px-60">
            <form class="w-96  text-gray-700" id = "contactForm" method= "POST">{% csrf_token %}
                {{ contactForm|crispy }}
                <input type="submit" name="contact-submit" class="bg-purple-200 rounded-lg py-3 px-8
                hover:bg-purple-300 flex justify-center my-4" />
            </form>
        </div>
    </div>

    <!-- footer component -->
    <footer class="bg-gradient-to-t from-indigo-500 to-blue-400 p-5 mt-10">
        <p class="text-gray-200 text-sm md:text-base font-thin flex justify-center">Created By Osama Arabi - &copy;2021</p>
    </footer>

    <script type="text/javascript">
        $(document).ready(function(){
           $("#contactForm").submit(function(e){        
                  e.preventDefault();
                  var serializedData = $(this).serialize();
                  $.ajax({
                      type : 'POST',
                      url :  "{% url 'contact_submit' %}",
                      data : serializedData,
                      success : function(response){
                          $("#contactForm")[0].reset(); 
                      },
                      error : function(response){
                          console.log(response)
                      }
                  });
           });
        });
    </script>
</div>

{% endblock content %}