{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}
<div class="bg-gradient-to-t from-blue-400 to-indigo-500 p-20">
    <!-- header component -->
    <div class="grid grid-cols-2 gap-9 pb-6">
        
        <div class="col-span-1 flex justify-center">
            <p class="
                        text-gray-200 text-2xl subpixel-antialiased font-light
                    ">
                Polls Django App
            </p>
        </div>
        <div class="col-span-1 flex justify-center">
            <p class="
                    text-gray-200 text-xl subpixel-antialiased font-light
                ">
                About 
            </p>
            <p class="
                    text-gray-200 text-xl subpixel-antialiased font-light ml-5
                ">
                Contact
            </p>
        </div>
    </div>

    <!-- brand component -->
    <div class="grid grid-cols-4 gap-9 mt-9">
        <div class=" col-span-2 flex ml-48 justify-center">
            <img class="w-60"
            src="{%static 'img/brand.png'%}" alt="">
        </div>
        
        <div class="col-span-1 ">
            <div>
                <div class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-8">
                <a href="" class="text-gray-900 uppercase">sign in</a>
                </div>
            </div>
            <div>
                <div class="bg-purple-200 rounded-lg py-3 px-10 opacity-50
                            hover:bg-purple-300 flex justify-center my-4">
                <a href="" class="text-gray-900 uppercase">sign up</a>
                </div>
                <div>
                    <p class="text-xs mt-5 text-gray-200">
                        <svg class="w-5 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                        Very Simple Polling App - Built with #Django</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}